

.choose {
  position:absolute;
  z-index:1;
  bottom: 10vh;
  left: calc(50vw - calc(237px / 2));

  display:flex;
  align-items:center;
  font-size:1em;
  font-weight: 700;
}

.choices {
  list-style-type:none;
  padding:0 0.25em;
  margin:0;
  max-height:18px;
  overflow:visible;
  transition:0.5s all cubic-bezier(0.165, 0.84, 0.44, 1);
}

.choice {
  cursor:pointer;
  transition:0.5s all cubic-bezier(0.165, 0.84, 0.44, 1);
  user-select: none;
}

.textTransparent {
  color:rgba(0,0,0,1);
  user-select: none;
}

.card {
  position:absolute;
  background:white;
  border:1px solid #EEEEEE;
  height:auto;
  margin:0;
  box-sizing: border-box;
  padding: 2.5em 1.5em;
  width:350px;
}

.specialCard {
  position:absolute;
  background:linear-gradient(to top right, #FF64EF, #3AC4FF);
  padding:1px;
  position:absolute;
  box-sizing: border-box;
  display:flex;
  align-items: center;
  justify-content: center;
}

.specialCardInner {
  background:white;
  box-sizing: border-box;
  padding: 2.5em 1.5em;
  width:350px;
}

.link {
  font-size:0.9em;
  display:flex;
  gap:0.2em;
  align-items: center;
  transition: 0.2s all cubic-bezier(0.215, 0.610, 0.355, 1);
}

.link:hover {
  gap:0.3em;
}

.planes {
  height:400vh;
  overflow:hidden;
  transition: 0.7s all cubic-bezier(0.215, 0.610, 0.355, 1);
}

.planes .plane {
  height:25%;
  width:100%;
  position: relative;
}